[Unit]
Description=Run velokarte-pmtiles hourly
Requires=velokarte-pmtiles.service

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
